{# indique la dépendance au template #}
{% extends "template_front.twig" %}

{# block info sur la section upload #}
{% block info %}
    <h2>Bienvenue sur</h2>
    <p><img class="logo" src="media/ez_transfer.svg" alt="logo complet du site EZ transfer"></p>
    <hr>
    <p>
        Transférez facilement vos photos et vos fichiers volumineux à vos amis, vos collègues ou votre famille.
        <br>
        Profitez d'un service  rapide et sécurisé.
    </p>
{% endblock %}

{# affichage du formulaire et de l'upload #}
{% block formulaire %}
<div class="d-flex justify-content-between">
    <p class="bg-logo"><img src="media/cloud_dl.svg" alt="logo transfert ok" height="50px" width="50px"></p>
    <h2>{{titre}}</h2>
</div>
<div>
    <p>{{info}}</p>
</div>
<div>
    <h3>Récapitulatif</h3>
    <p>nom du fichier : {{nom_fichier}}</p>
    <p>taille : {{poids}} Octets</p>
    <p>expéditeur : {{expediteur}}</p>
    <p>message : {{message}}</p>
    <p>{{erreur}}</p>
</div>
 
 
 
{% endblock %}
